body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
    margin: 0;
    font-family: sans-serif;
background-image: url("images/imgabck1.jpg");}
.header {
    background-color: #06407a3c; 
    color: rgb(15, 212, 97);
    grid-column: 1 / 3; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.image {
    height: 80%; 
    border-radius: 50%;
    margin-left: 20px;
    border: 2px solid rgb(77, 2, 237);
}

.main {
    grid-column: 1 / 3; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 15px; 
    padding: 15px;
}

.main section {
    background-color: #c20b5446;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: aliceblue;
}

.aboutme {
    grid-column: 1 / 2; 
}

.Informationspersonnel {
    grid-column: 2 / 3; 
}

.SKILLS {
    grid-column: 3 / 4; 
}

#Hobies {
    grid-column: 4 / 5; 
}
h2{
    text-align: center;
    color: rgba(21, 10, 180, 0.74);
}

footer {
    background-color: #34495e49;
    color: white;
    grid-column: 1 / 3; 
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    color: #01240b; 
    text-decoration: none;
}