body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}

.header {
  background: #214156;
  color: rgb(22, 188, 66);
  text-align: center;
  line-height: 80px;
  height: 70px;
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex: 1;
  gap: 10px;
}

.sidebar {
  background: #18ca62;
  padding: 10px;
  flex: 0.5; /* Represents 0.5fr */
}

.content {
  background: #2494b0;
  padding: 10px;
  flex: 1; /* Represents 1fr */
}

.footer {
  background: #a4c5e6;
  color: white;
  text-align: center;
  line-height: 60px;
  height: 60px;
  flex-shrink: 0;
}